.task {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #219ebc;
}

.expired {
  opacity: 0.5;
}

.completed {
  background: #04d052;
}

.header {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.description {
  font-size: 1.6rem;
  height: auto;
  margin-bottom: 3rem;
}

.files {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
