:root {
  --prussian-blue: #023047;
  --red: #e60023;
  --red-shade: rgba(230, 0, 35, 0.574);
  --selective-yellow: #ffb703ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif, 'Roboto';
  --light-cornflower-blue: #8ecae6;
  --blue-green: #219ebcff;

  background-color: #8ecae6ff;
  color: var(--prussian-blue);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  border-radius: 10px;
  min-height: 10rem;
  padding: 2.5rem;
}
