:root {
  --prussian-blue: #023047;
  --prussian-blue-shade: rgb(1, 23, 34);
  --red: #e60023;
  --red-shade: #af001a;
  --selective-yellow: #ffb703ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif, 'Roboto';
  --light-cornflower-blue: #8ecae6;
  --blue-green: #219ebcff;

  background-color: #8ecae6ff;
  color: var(--prussian-blue);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  border-radius: 10px;
  min-height: 10rem;
  padding: 2.5rem;
}

.links {
  margin-bottom: 2rem;
}

.links li {
  display: flex;
  gap: 2rem;
  align-items: center;
}

a:link,
a:visited {
  color: #fff;
  font-size: 2rem;
  display: inline-block;
  max-width: fit-content;
}

a:hover,
a:active {
  cursor: pointer;
  color: #000;
}
