* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif, 'Roboto';
  --light-cornflower-blue: #8ecae6;
  --blue-green: #219ebcff;
  --prussian-blue: #023047;
  --selective-yellow: #ffb703ff;
  --tangerine: #fb8500ff;
  background-color: #8ecae6ff;
  color: #023047;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
